.card{
    display:flex;
}
.card-mobile{
    width:100%;
    padding:40px 30px 18px;
}
.card-image{
    width:137px;
    height:137px;
    margin: 0 14px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image-pencil{
    background-color:#5094f2;
}
.card-image-desktop{
    background-color:#d94748;
}
.card-image-basket{
    background-color:#ebbb11;
}
.icon{
    font-size: 80px;
    color:white; 
}
.icon-shopping-basket{
    padding-right: 10px;
}
.card-info{
    padding: 0 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-title{
    color: #5094f2;
    font-family: "Segoe WPN";
    font-size: 34px;
    font-weight: 400;
    line-height: 51.86px;
}
.card-desc{
    color: #909090;
    font-family: "Segoe WPN";
    font-size: 19px;
    font-weight: 400;
    width:354px;
}
.shopping-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.shopping-image{
    width:215px;
    text-align: center;
    display: block;
}
.shopping-image img{
    height:162px;
    object-fit: contain;
    width: 100%;
}
.card-shopping-title{
    width:100%;
    color: #6f7173;
    font-family: "Segoe WPN";
    font-size: 34px;
    font-weight: 400;
    line-height: 44.42px;
}
.card-shopping-desc{
    color: #909090;
    font-family: "Segoe WPN";
    font-size: 17px;
    font-weight: 300;
    line-height: 36px;
    width:512px;
    padding-left: 0;
}
.card-shopping-desc li{
    list-style-type: none;
}
@media all and (min-width: 640px) {
    .card-pc{
       display:flex;
       flex-direction: column;
       align-items: center;
    }
    .card-info{
        align-items: center;
    }
    .card-title{
        font-size: 20px;
        line-height: 44.42px;
    }
    .card-desc{
        font-size: 14px;
        width:250px;
        text-align: center;
    }
    .shopping-header{
        justify-content: flex-start;
        padding-top: 20px;
    }
    .card-shopping-title{
        font-size: 26px;
        font-weight: 400;
        line-height: 44.42px;
    }
    .card-shopping-desc{
        margin: 0;
        font-size: 15px;
        font-weight: 300;
        width: 100%;
        text-align: left;
    }
    .card-shopping-desc li{
        line-height: 25.42px;
    }
    .shopping-image{
        max-width:371px;
        width: 100%;
    }
    .shopping-header img{
        height: 279px;
    }
}