.card{
    display:flex;
}
.card-mobile-xs{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 30px;
}
.card-image{
    width:147px;
    height:147px;
    margin: 0 14px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image-pencil{
    background-color:#5094f2;
}
.card-image-desktop{
    background-color:#d94748;
}
.card-image-basket{
    background-color:#ebbb11;
}
.icon{
    font-size: 80px;
    color:white; 
}
.icon-shopping-basket{
    padding-right: 10px;
}
.card-info{
    padding: 0 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-title{
    color: #5094f2;
    font-family: "Segoe WP";
    font-size: 34px;
    font-weight: 400;
    line-height: 51.86px;
}
.card-desc{
    color: #909090;
    font-family: "Segoe WP";
    font-size: 19px;
    font-weight: 400;
}
.shopping-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.shopping-image{
    width:215px;
    text-align: center;
    display: block;
}
.shopping-image img{
    height:162px;
    object-fit: contain;
    width: 100%;
}
.card-shopping-title{
    width:100%;
    color: #6f7173;
    font-family: "Segoe WP";
    font-size: 34px;
    font-weight: 400;
    line-height: 44.42px;
}
.card-shopping-desc{
    color: #909090;
    font-family: "Segoe WP";
    font-size: 17px;
    font-weight: 300;
    line-height: 36px;
    padding-left: 0;
}
.card-shopping-desc li{
    list-style-type: none;
    font-family: "Segoe WP";
}

@media all and (min-width: 641px){
    .card-pc{
       display:flex;
       flex-direction: column;
       align-items: center;
    }
    .card-info{
        align-items: center;
    }
    .card-title{
        font-size: 20px;
        line-height: 30.42px;
        padding: 10px 0;
        text-align: center;
    }
    .card-desc{
        font-size: 16px;
        text-align: center;
    }
    .card-image{
        width:160px;
        height: 160px;
        flex-shrink: 0;
    }
    .shopping-header{
        justify-content: flex-start;
    }
    .card-shopping-title{
        font-size: 26px;
        font-weight: 400;
        line-height: 34.42px;
        padding: 0;
    }
    .card-shopping-desc{
        margin: 0;
        font-size: 15px;
        font-weight: 300;
        width: 100%;
        text-align: left;
    }
    .card-shopping-desc li{
        line-height: 25.42px;
    }
    .shopping-image{
        max-width:371px;
        width: 100%;
    }
    .shopping-image img{
        height: 279px;
    }
    .card-shopping-title{
        text-align: left;
    }
}
@media all and (min-width:960px){
    .shopping-image{
        width: 100%;
    }
    .shopping-image img{
        height: 279px;
    }
    .card-shopping-title{
        text-align: left;
    }
}
@media all and (min-width:480px) and (max-width:640px){
    .card-mobile{
        flex-direction: row;
        align-items: flex-start;
    }
    .icon{
        font-size: 60px;
    }
    .card-image{
        width:147px;
        height:147px;
        flex-shrink: 0;
    }
    .card-title{
        font-size: 34px;
        font-weight: 400;
        line-height: 41.86px;
    }
}
