.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    }
.col-40-sm{
    padding: 0 33px;
    width:40%
}
.col-60-sm{
    padding: 0 33px;
    width: 60%;
}
.col-card-sm{
    width:100%;
    border-bottom: 1px solid gainsboro;
}
.col-shopping-sm{
    width:100%;
    flex-direction: column;
}
@media all and (min-width: 640px) {
    .col-60{
       display: flex;
       flex-direction: column;
       justify-content: center;
    }
    .col-40{
        width:40% 
    }
    .col-card{
        width:33.33%;
        border:none;
    }
    .col-shopping{
        width:50%;
    }
    
}