.header-container{
    background-color: white;
    padding: 20px;
    padding-bottom: 10px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
.header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-box{
    width:53px;
    height:53px;
    background-color: #5094f2;
    border-radius: 50%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-image: url("../../image/“.png");
}
.logo-text{
    padding:6px 17px;
    color: #000000;
    font-family: "Segoe WP Light";
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.42px;
}
.header-right{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: right;
}
.menu{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}
.menu-items{
    list-style-type: none;
    margin-right: 30px;
    font-family: "Segoe WP Light";
    font-size: 20px;
    color: rgba(108, 108, 108, 255);
    border-bottom: 2px solid transparent;
    margin-bottom: 20px;
    padding: 40px 0 0px 10px;
}
.menu-items a:hover{
    color:darkblue;
}
.menu-items a.active, a.active:hover{
    border-bottom: 5px solid#5094f2;
    color: rgba(108, 108, 108, 255);
   }
.burger-menu{
    position: absolute;
    top: 45px;
    right: 25px;
}
.burger-menu ul{
    display: none;
    list-style-type: none;
    position: absolute;
    top: 50px;
    right: 0px;
    background: #5094f2;
    padding:10px;
    margin: 0;
    z-index: 2;
  }
  .burger-menu .nav-toggle {
    display: inline-block;
    width:58px;
    height:44px;
    background-image: url(../../image/menu.png);
    background-size: cover;
    padding: 10px;
  }
  .burger-menu ul.is-open {
    display: block;
  }
  .burger-menu ul li{
    padding:0 10px;
  }
  .burger-menu-item a:hover{
    color: white;
  }
@media all and (min-width: 480px){
        .logo-text{
            font-size: 49px;
        }  
}
@media all and (min-width: 641px){

    .menu{
        display: flex;
    }
    .burger-menu{
        display:none;
    }
    .logo-box{
        width: 44px;
        height:44px;
    }
    .logo-text{
        font-size: 42px;
    }
    .header-right{
        align-items: flex-end;
    }
    .header-container{
        padding: 5px 30px;
    }
}
@media all and (min-width: 960px) {
    .header-container{
        padding: 0px 130px;
    }
    .header-left{
        padding-left: 10px;
    }
    
}
