.header-container{
    background-color: white;
    padding:30px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
 
}
.header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-box{
    width:53px;
    height:53px;
    background-color: #5094f2;
    border-radius: 50%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-image: url("../../image/“.png");
}
.logo-text{
    padding:6px 17px;
    color: #000000;
    font-family: "Segoe WP";
    font-size: 49px;
    font-weight: 300;
    letter-spacing: 0.42px;
}
.header-right{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: right;
}
.menu{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu-items{
    list-style-type: none;
    padding-right: 30px;
    font-family: "Segoe WP";
    font-size: 20px;
    color: rgba(108, 108, 108, 255);
}

.menu-items a:hover{
    color:darkblue;
}
.menu-items a.active, .active:hover{
    color:#5094f2;
}
.blue-menu{
    width:54px;
    height:48px;
    background-color: #5094f2;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}
.blue-menu-item{
    width:37px;
    height:6px;
    background-color: white;
}

@media all and (min-width: 640px) {

    .menu{
        display: flex;
    }
    .blue-menu{
        display:none;
    }
    .logo-box{
        width: 44px;
        height:44px;
    }
    .logo-text{
        font-size: 42px;
    }
    .header-right{
        align-items: flex-end;
    }
}