.section-hero{
    position: relative;
}
.hero-container{  
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
}
.background{
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom:0;
    opacity: 0.96;
    z-index: -2;
}
.background img {
    object-fit: cover;
    width: 100%;
}
.foreground{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.hero-image{
    margin: 0 auto;
    max-width: 177px;
    width: 100%;
}
.hero-image img{
    height:223px;
    width: 100%;
    object-fit: contain;
}
.hero-title{
    color: #ffffff;
    font-family: "Segoe WP Light";
    font-size: 28px;
    font-weight: 300;
    line-height: 35.94px;
    text-align: center;
    margin-bottom: 10px;
}
.hero-description{
    color: #ffffff;
    font-family: "Segoe WP Light";
    font-size: 23px;
    font-weight: 300;
    line-height: 35.94px;
    margin-bottom: 25px;
    text-align: center;
}
.button{
    padding: 5px;
    background-color: #5094f2;
    color: #ffffff;
    font-family: "Segoe WP Light";
    font-size: 25px;
    font-weight: 300;
    max-width: 235px;
    border:1px solid #5094f2;
    margin: 20px auto;
}
.button:hover{
    color: #5094f2;
    background-color: #ffffff;
    cursor: pointer;
}
.bx-wrapper {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border: 5px solid #fff;
    background:transparent !important;
  }
  .fotorama{
      text-align: center;
      width:100%;
  }
  .triangle{
    position: absolute;
    left:0;
    bottom: 0px;
    height: 15px;
    right: 0;
    z-index: 0;
    background-image: url(../../image/decore.png);
    
  }
  .triangle img {
      object-fit: scale-down;
  }

@media all and (min-width: 480px) and (max-width:640px){
    .hero-title{
        text-align: left;
        font-size: 31px;
    }
    .hero-text{
        align-items: flex-start;
        padding-left: 25px;
    }
    .hero-description{
        text-align: left;

    }
    .button{
        font-size: 31px;
        margin: 0;
    }
}
@media all and (min-width: 641px) {
    .hero-image{
        max-width:345px;
    }
    .hero-image img{
        height: 436px;
    }
    .hero-title{
        font-size: 36px;
        text-align: start;
    }
    .hero-description{
        font-size: 22px;
        margin-bottom: 40px;
        text-align: start;
    }
    .button{
        font-size: 22px;
        max-width: 172px;
        margin: 0;
    }
    .row-hero{
        flex-wrap: wrap;
    }
    .hero-text{
        padding: 0 95px;
        justify-content: center;
    }
    .hero-container{
        padding: 30px;
    }
}
@media all and (min-width: 960px) {
    .hero-title{
        font-size: 42px;
    }
    .hero-description{
        font-size: 26px;
    }
    .hero-container{
        padding: 40px 140px;
    }
}
