.section-hero{
    position: relative;
}
.hero-container{
    flex-direction: row;
    justify-content: center;
}
.background{
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.background img {
    object-fit: cover;
    width: 100%;
}
.foreground{
    width: 100%;
}
.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-image{
    margin: 0;
    max-width: 177px;
    width: 100%;
}
.hero-image img{
    height:223px;
    width: 100%;
    object-fit: contain;
}
.hero-title{
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 31px;
    font-weight: 300;
    line-height: 35.94px;
    text-align: center;
}
.hero-description{
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 23px;
    font-weight: 300;
    line-height: 35.94px;
    margin-bottom: 25px;
    text-align: left;
}
.button{
    padding: 10px;
    background-color: #5094f2;
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 31px;
    font-weight: 300;
    max-width: 235px;
    border:1px solid #5094f2;
}
.button:hover{
    color: #5094f2;
    background-color: #ffffff;
    cursor: pointer;
}

@media all and (min-width: 640px) {
    .hero-image{
        max-width:345px;
    }
    .hero-image img{
        height: 436px;
    }
    .hero-title{
        font-size: 42px;
    }
    .hero-description{
        font-size: 26px;
    }
    .button{
        font-size: 22px;
    }
    .row-hero{
        flex-wrap: wrap;
    }
}
@media all and (min-width: 480px) {
    .hero-title{
        text-align: left;
    }
    .hero-text{
        align-items: flex-start;
    }
    .button{
        font-size: 28px;
    }
}